@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.App {
  text-align: initial;
}

body {
  height: 300vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

/*! Styling for NavBar Component*/
/* Styling for logo */
.logo_words{
  font-family: 'Calistoga', serif;
  font-size: 19px;
}

@media only screen and (max-width: 767px){
  .logo_words{
    font-family: 'Calistoga', serif;
    font-size: 29px;
    margin: 0 auto;
  }
}
.navigation{
  height: 8vh;
}

/*! styling for Hero component */
/* styling for carousel */
.carousel_div{
  position: relative;
  z-index: 1;
  margin-top: 8vh;
}

.hero_img{
  width: 100%;
  filter: brightness(44%);
}

/*! styling for TopAttractions Component */
/* Styling for top oddities section on main page */
.topH2{
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  margin-top: 23px;
}

.oddities-scroll-container{
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.oddities-scroll-container img{
  padding: 10px;
}

