@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.App {
  text-align: initial;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

/*! Styling for NavBar Component*/
/* Styling for logo */
.logo_words{
  font-family: 'Calistoga', serif;
  font-size: 19px;
}

@media only screen and (max-width: 767px){
  .logo_words{
    font-family: 'Calistoga', serif;
    font-size: 25px;
    margin: 0 auto;
  }
}
.navigation{
  height: 8vh;
}

/*! styling for Hero component */
/* styling for carousel */
.carousel_div{
  position: relative;
  z-index: 1;
  margin-top: 8vh;
  height: 92vh;
}

.hero_img{
  width: 100%;
  filter: brightness(44%);
  height: 92vh;
}

.Hero-h2{
  position: absolute;
  top: 34%;
  left: 10%;
  width: 35%;
  margin: 0 auto;
  color: #f1f1f1;
  z-index: 20;
  font-weight: 900;
  font-size: 72px;
}

.explore{
  color: rgb(113, 194, 194);
}


@media only screen and (max-width: 953px){
  .carousel_div{
    height: 67vh;
  }
  .hero_img{
    height: 67vh;
  }
  .Hero-h2{
    top: 32%;
    font-size: 60px;
    width: 49%;
  }
}

@media only screen and (max-width: 862px){
  .Hero-h2{
    top: 26%;
    font-size: 57px;
    width: 49%;
  }
}

@media only screen and (max-width: 700px){
  .carousel_div{
    height: 55vh;
  }
  .hero_img{
    height: 55vh;
  }
  .Hero-h2{
    top: 15%;
    font-size: 48px;
    width: 16%;
  }
}

@media only screen and (max-width: 500px){
  .Hero-h2{
    top: 25%;
    font-size: 60px;
    width: 67%;
  }
}

@media only screen and (max-width: 360px){
  .carousel_div{
    height: 45vh;
  }
  .hero_img{
    height: 45vh;
  }
  .Hero-h2{
    top: 15%;
    left: 0%;
    text-align: center;
    width: 100%;
    font-size: 32px;
    padding: 30px;
  }
}

/*! styling for TopAttractions Component */
/* Styling for top oddities section on main page */
.top-attractions-container{
  height: 60vh;
}

.topH2{
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  margin-top: 63px;
}

.top-attractions-p{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.oddities-scroll-container{
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.attraction-card {
  position: relative;
  text-decoration: none; 
}

.attraction-info {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: calc(100% - 10px);
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.645);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.attraction-card:hover .attraction-info {
  opacity: 1;
}

.oddities-scroll-container img{
  margin-right: 10px;
  border-radius: 10px;
}

/*! styling for recommend an oddity */
.EmailOddity-video-container{

  margin: 0 auto;
  margin-bottom: 10px;
  height: 75vh;
  position: relative;
}

#EmailOddity-video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  filter: brightness(35%);
}

.email-oddity-info{
  position: absolute;
  width: 100%;
  top: 3%;
  color: aliceblue;
}

.email-oddity-info h3{
  text-align: center;
}

.email-oddity-info p{
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.form-overlay {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(86, 85, 85, 0.365);
  padding: 13px;
  text-align: center;
  width: 90%;
  height: 72%;
  color: white;
  font-weight: 800;
  border-radius: 20px;
}

@media only screen and (max-width: 512px){
  .email-oddity-info p{
    text-align: center;
    width: 90%;
  }
}

@media only screen and (max-width: 412px){
  .EmailOddity-video-container{
    height: 68vh;
    position: relative;
  }
  .form-overlay{
    top: 65%;
    width: 97%;
    height: 65%
  }
}

@media only screen and (max-width: 360px){
  .EmailOddity-video-container{
    height: 90vh;
    position: relative;
  }
  .form-overlay{
    top: 63%;
    width: 97%;
    height: 62%
  }
}

/*! Styling for footer */

/* Styling for footer divider */
.footer-divider{
  margin: 0 auto;
  width: 90%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}

/* info section of footer */
.footer-info{
  width: 100%;
  display: flex;
  margin-top: 14px;
}

.footer-info-link-container{
  display: inline-block;
  width: 50%;
  justify-content: center;
}

.footer-info-h6{
  text-align: center;
}

.footer-info-links{
  list-style: none;
  text-align: center;
  padding: 0;
}

.footer-info-links li{
  margin-bottom: 1%;
}

@media only screen and (max-width: 500px){
  .footer-info{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
  }
  .footer-info-link-container{
    display: block;
    width: 100%;
  }
  .footer-info-h6{
    text-align: start;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1%;
  }
  .footer-info-links{
    list-style: none;
    text-align:center;
  }
  .footer-info-links li{
    display: inline-block;
    margin: 1% 2% 1% 2%;
  }
}

/* Styling for connect links */
.footer-connect-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-connect-links{
  display: flex;
  list-style: none;
  padding: 0;
  width: 80%;
}

.footer-connect-links li{
  width: 33%;
  text-align: center;
  transition: all .2s ease-in-out;
  margin-top: 3px;
}

.footer-connect-links li:hover{
  transform: scale(1.2); 
}

.footer-connect-links li a{
  color: black;
}

/*Styling for copyright */
.footer-h6{
  text-align: center;
  font-size: 16px;
}