.about-page-container{
  width: 87%;
  margin: 0 auto;
  margin-top: 12vh;
}

.about-page-section-container{
  margin-bottom: 50px;
}

.about-h3,
.about-p {
  text-align: center;
}

.about-h3{
  margin-bottom: 15px;
}